@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat, sans-serif;
}
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, main, section {
    border: 2px solid #333;
    margin: 20px;
    padding: 15px;
    background-color: #f4f4f4; 
}
  
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 15px;
}

header h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

header p {
    color: white;
    margin: 0;
    font-size: 14px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;

}

section {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}